*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(31, 52, 78);
    color: whitesmoke;
}

nav{
    height: 40px;
    width: 100%;
    background-color: rgb(52, 67, 81);
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 1.3rem;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 4rem 3rem;
    background-color: rgb(35, 74, 108);
    height: 500px;
    width: 100%;
}
h1{
    font-size: 4.5rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

p{
    font-size: 1.3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}